<br><br>
<div class="es">
  <section id="nttext" class="deux"><h1 class="h1top">הדרך שלך לשידוך ב-3 צעדים פשוטים</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>
          הרשמה
        </h2>
        תחילה עליך להזין את
        פרטיך באתר, במהירות
        ובנוחות
      </div>
      <div class="col-sm">
          <h2>
            דיוק
          </h2>
          לאחר הרישום 
          השדכנית תיצור אתך קשר,
          כדי להכיר אותך טוב יותר
          ולהבין את העדפותיך - כי
          אין תחליף לקשר האישי
      </div>
      <div class="col-sm">
        <h2>
          התאמה
        </h2>
        כאשר המערכת מוצאת
        התאמה והשדכנית 
        מאשרת שהיא אכן קולעת
        להעדפות שלך, השדכנית תיצור איתך קשר.        
      </div>
    </div>
  </div>

</section>
<br><br>
<br><br>
<section id="comcaspass" class="deux"><h1>איך אנחנו מצליחים</h1>
	<in>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <article>
        <h2>
          בזכות
          החיבור האישי
        </h2>
          אנחנו לא נותנים רק לטכנולוגיה
        לנצח, יש לנו שדכנית מדהימה
          שמקשיבה לך, מבינה אותך, מתמחה
          בתחום הקואוצ'ינג והפסיכולוגיה
          ומלווה אותך אישית עד להצלחה!
      </article>    </div>
    <div class="col-sm">
      <article>
        <h2>
          בזכות
          הטכנולוגיה
        </h2>
          המאפשרת לך להזין פרטים מדויקים
          ורחבים אודות היבטים שונים, לדרג
          את רמת החשיבות של כל אחד
          מהפרמטרים (מה חשוב יותר - ועל
          מה אפשר להתפשר) וכמובן בזכות
          ההימנעות מטעויות אנוש		
      </article>    </div>
    <div class="col-sm">
      <article>
        <h2>
          בזכות
          האלגוריתם
        </h2>
          מנוע החיפוש וההתאמה הייעודי
          שלנו פותח במיוחד עבור הציבור
          החרדי והדתי, ויודע לפענח טוב יותר
          את ההגדרות השונות והנתונים
          שהזנת - כדי למצוא עבורך התאמה
          מושלמת
      </article>
      </div>
  </div>
</div>
	</in>
</section>
<br><br>
<br><br>
<section id="concept" class="deux">
	<in>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <cell><h1>?מה זה בכלל קידושין</h1>
            אתר השדכנית  הינו פרויקט חדשני המאפשר
            ליהודים מכל העולם למצוא את השידוך המתאים
            להם מתוך מאגר גדול במיוחד של מועמדים. אל
            השדכנית נרשמים מועמדים ומועמדות מכל חלקי
            הציבור החרדי ומכלל הקהילות בארץ ובעולם:
            בוגרי ישיבות ידועות, סמינרים בולטים ועוד. לכאן
            מגיעים הרבה יותר משתדכים,
            והסיכוי שלך למצוא שידוך גדול יותר!
      
          </cell>        </div>
        <div class="col-sm">
          <cell class="alliances">
            <img src="../../../assets/alliances.jpg" alt="">
          </cell>        </div>
        <div class="col-sm">
          <cell><h1>!מקסימום דיסקרטיות</h1>
            אנו מאמינים כי הברכה שורה בדבר הסמוי מן העין, ושידוך צריך להיעשות בצורה המכובדת ביותר בהתאם לגדרי ההלכה.<br>
            <b>
              הפרטיות שלך חשובה לנו יותר מכל
            </b>
            , ולכן אין לאף גולש גישה אל נתוניך האישיים: 
      
            לאורך כל התהליך
            <b>
              רק השדכנית יכולה לראות את שמך ותמונתך, בהתחייבות
            </b>.
          </cell>        </div>
      </div>
    </div>

	</in>
	<h1>
		חשוב לדעת: האתר מתאים לרווקים ורווקות,
		גרושים וגרושות, אלמנים ואלמנות
	</h1>
</section>
</div>