div.re{
    text-align: right;
}

.save{
        background-color:rgb(207, 173, 121);
        width:100px;
       height:30px ;
      }       

.form-control{
    width:200px;
    text-align: right;
    direction: rtl;
}

.form-group {
    direction: rtl;
    text-align: right;
}
.col-sm-10{
    text-align:right;
}
// .card-header{
//     width:700px;
//     // text-align: right;
//     direction: rtl;
// }
h1{
    text-align: center;
}
    //   form{
    //     padding-top: 5%;
    // }
    
    // mat-form-field{
    //     text-align: right;
    //     font-size: 20px;
       
    //    }
    //    mat-label{
    //        font-size: 20px;
    //    }
    
    //    .btn {
    // margin-top: 15px;
    // }
    // app-candidatedetmatches.a {
    //     direction: rtl;
    //     text-align: center;
    //     width: 33%;
    //     float: left;
    //     height: 90px;
    //   }
    