div.re{
    text-align: center;
    direction: rtl;
  

}
div.my ,.y{
margin-right: 200px;
}
h1{
    color: rgb(240, 83, 83);
    margin-top:90px ;
    text-align: center;

}

div.m{
    border:3px rounded  rgb(240, 83, 83);
margin-right: 500px;
margin-left: 500px;


}
.btnch{
    color: #fff;
    background-color: #554648;
    float: right 0.1px;
}
.btn {
    color: #fff;
    background-color: #e82b49;
    border-color: #fbfcfd;
}
.save{
        background-color:rgb(207, 173, 121);
        width:100px;
       height:30px ;
      }       

.form-control{
    width:200px;
    text-align: right;
    direction: rtl;
}

.form-group {
    direction: rtl;
    text-align: right;
}
.col-sm-10{
    text-align:right;
}
h1{
    text-align: center;
    margin-left: 270px;
}
.e{
    text-align:right;
    direction: rtl;
 }
//  .mat-form-field-infix {
//     display: block;
//     position: relative;
//     flex: auto;
//     min-width: 0;
//     width: 120px;
//     height:20px;
// }
// .mat-form-field-appearance-fill .mat-form-field-flex {
//     background-color: rgb(128, 211, 128);
// }
.born{
    margin-left: 250px;
}
.status{
    margin-left: 300px;
  
}
