<body>
  <div class="re">
    <!-- <h1>הרשמה</h1> -->
 
    <form #form="ngForm">
       <div  class="m">
      <div class="my"  *ngIf="step==1" >
        
        <h1>פרטים אישיים </h1>
          <td><mat-form-field class="example-full-width" class="e" appearance="fill">
            <mat-label>שם פרטי </mat-label>
            <input matInput name="FNameCandidates" [(ngModel)]="c.FNameCandidates">
          </mat-form-field></td><br>
          <td><mat-form-field class="example-full-width" class="e" appearance="fill">
            <mat-label>שם משפחה </mat-label>
            <input matInput name="LNameCandidates"  [(ngModel)]="c.LNameCandidates">
          </mat-form-field></td><br>
          <div class="born">
          <mat-form-field appearance="fill" class="e" >
            <mat-label>תאריך לידה</mat-label>
            <input matInput [matDatepicker]="picker" name="dateOFbirth"  [(ngModel)]="c.dateOFbirth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field><br></div>
          <!-- <td><mat-form-field class="example-full-width" class="e" appearance="fill">
            <mat-label>תאריך לידה </mat-label>
            <input matInput name="dateOFbirth"  [(ngModel)]="c.dateOFbirth" >
          </mat-form-field></td><br> -->
          <div class="status">
          <mat-form-field appearance="fill" class="e" >
            <mat-label>סטטוס</mat-label>
            <mat-select name="status" [(ngModel)]="c.status">
              <mat-option  *ngFor="let s of statusList" [value]="s.statusCode">
                {{s.statusName}}
              </mat-option>
            </mat-select>
          </mat-form-field><br></div>
          <td><mat-form-field class="example-full-width" class="e" appearance="fill">
            <mat-label>גובה </mat-label>
            <input matInput name="heightCandidates"  [(ngModel)]="c.heightCandidates">
          </mat-form-field></td><br>
        <!-- <td><mat-form-field class="example-full-width" class="e" appearance="fill">
          <mat-label>תמונה </mat-label>
          <input matInput name="photoLink1"  [(ngModel)]="c.photoLink">
       </mat-form-field></td><br> -->
        <!-- <mat-form-field>
          <ngx-mat-file-input [formControl]="fileControl" [multiple]="multiple"
          [(ngModel)]="c.photoLink" name="photoLink" [accept]="accept" [color]="color">
          </ngx-mat-file-input>
       </mat-form-field> -->
        <button mat-raised-button color="warn" [disabled]="!form.valid" (click)="next()">הבא</button>
      </div>
    
      <div class="y" *ngIf="step==2">
        <h1>פרטים אישיים</h1>
        <td><mat-form-field class="example-full-width" class="e" appearance="fill">
          <mat-label>כתובת </mat-label>
          <input matInput name="address"  [(ngModel)]="c.address">
        </mat-form-field></td><br>
        <td><mat-form-field class="example-full-width" class="e" appearance="fill">
          <mat-label>פלאפון אישי </mat-label>
          <input matInput name="phone"  [(ngModel)]="c.phone">
        </mat-form-field></td><br>
        <fieldset class="form-group">
          <div class="row">
            <div class="col-sm-10">
              <legend class="col-form-label col-sm-2 pt-0">מין :</legend>
              <div class="form-check">
                <label class="form-check-label" for="gridRadios1">
                  🤵
                </label>
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="זכר"
                  (click)="man=true;min =true;woman=false">
              </div>
              <div class="form-check">
                <label class="form-check-label" for="gridRadios2">
                  👰
                </label>
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="נקבה"
                  (click)="woman=true;man=false;min =false;">
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <div class="col-sm-10">
          </div>
        </div>
        <app-register-man *ngIf="man" (saveMan)="saveMan($event)"></app-register-man>
        <app-register-woman *ngIf="woman" (savewomen)="saveWoman($event)"></app-register-woman>

        <button mat-raised-button disabled [disabled]="!form.valid" (click)="return()">חזור</button>
        <button mat-raised-button color="warn" [disabled]="!form.valid" (click)="next()">הבא</button>



      </div>
      <div class="y" *ngIf="step==3">
        <h1>פרטי ההורים </h1>
        <td><mat-form-field class="example-full-width" class="e" appearance="fill">
          <mat-label>שם אב </mat-label>
          <input matInput name="nameFather"  [(ngModel)]="c.nameFather">
        </mat-form-field></td><br>
        <td><mat-form-field class="example-full-width" class="e" appearance="fill">
          <mat-label>שם אם </mat-label>
          <input matInput name="nameMother"  [(ngModel)]="c.nameMother">
        </mat-form-field></td><br>
        <td><mat-form-field class="example-full-width" class="e" appearance="fill">
          <mat-label> עיסוק אב </mat-label>
          <input matInput name="occupationFather"  [(ngModel)]="c.occupationFather">
        </mat-form-field></td><br>
        <td><mat-form-field class="example-full-width" class="e" appearance="fill">
          <mat-label> עיסוק אם </mat-label>
          <input matInput name="occupationMother"  [(ngModel)]="c.occupationMother">
        </mat-form-field></td><br>
        <td><mat-form-field class="example-full-width" class="e" appearance="fill">
          <mat-label> סטטוס משפחה</mat-label>
          <input matInput name="familyStatus"  [(ngModel)]="c.familyStatus">
        </mat-form-field></td><br>
        <div *ngIf="showEda" class="status">
          <mat-form-field appearance="fill" class="e" >
            <mat-label>עדה אב</mat-label>
            <mat-select name="AdaFather" [(ngModel)]="c.AdaFather">
              <mat-option  *ngFor="let item of arrAda" [value]="item.codeC">
                {{item.nameC}}
              </mat-option>
            </mat-select>
          </mat-form-field><br>
          <mat-form-field appearance="fill" class="e" >
            <mat-label>עדה אב</mat-label>
            <mat-select name="AdaMother" [(ngModel)]="c.AdaMother">
              <mat-option  *ngFor="let item of arrAda" [value]="item.codeC">
                {{item.nameC}}
              </mat-option>
            </mat-select>
          </mat-form-field><br>

          </div>
        <button mat-raised-button disabled [disabled]="!form.valid" (click)="return()">חזור</button>
        <button mat-raised-button color="warn" [disabled]="!form.valid" (click)="next()">הבא</button>

      </div>
      <div *ngIf="step==4" class="y">
      
        <app-add-sibling (sendSibling)="saveSiblings($event)"></app-add-sibling>
        <button mat-raised-button disabled [disabled]="!form.valid" (click)="return()">חזור</button>

      </div>
      <div *ngIf="step==5" class="y">
        <app-mosdot-to-candidate (sendMosdotToCandidate)="savemosdot($event)" [min]="min"></app-mosdot-to-candidate>
        <button mat-raised-button disabled [disabled]="!form.valid" (click)="return()">חזור</button>

      </div>
      <div *ngIf="step==6" >
        <app-contact (sendContact)="savecontact($event)"></app-contact>

        <button mat-raised-button disabled [disabled]="!form.valid" (click)="return()">חזור</button>
      </div>
      </div>
    </form>


  </div>
</body>
