h2 {
    text-align: center;
}
h4{
    text-align: center;
}
div.hshadchnit{
    text-align: right;
    margin-top:100px ;
}
img {
    text-align: center;
}

h1 {
    text-align: center;
}











