
  <div id="accordion"   *ngIf="show">
    <div class="card">
      <div class="card-header" id="headingTwo" >
        <h5 class="mb-0" >
          <button class="btn btn-link collapsed" data-toggle="collapse" 
          data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" value="{{m.Man.codeCandidates}}">
           {{m.Man.FNameCandidates}} {{m.Man.LNameCandidates}}
          </button>
          <button class="btn btn-link collapsed" data-toggle="collapse" 
           data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" value="{{m.Woman.codeCandidates}}" >
          {{m.Woman.FNameCandidates}} {{m.Woman.LNameCandidates}}
           </button>
           <input type="button" value="מחיקה" (click)="delale()" >
           <input type="button" value="הוצעה" (click)="matchesinprocess()" >
        </h5>
      </div>
  
      <div *ngIf="entermamad" id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <app-candidatedetails class="a"  [c]="value"></app-candidatedetails>
        </div>
      </div>
    </div>
  </div>


  <div id="accordion" >
    <div class="card">
      <div class="card-header" id="headingTwo" >
        <h5 class="mb-0" >
          <button class="btn btn-link " data-toggle="collapse" 
          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" value="{{c.codeCandidates}}">
           {{c.FNameCandidates}} {{c.LNameCandidates}}</button>
           <input type="button" value="מחיקה" (click)="delale()" >
        </h5>
      </div>
      <div *ngIf="entermamad" >
      <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion" >
        <div class="card-body" >
          <app-candidatedetails class="a"  [cm]="c.codeCandidates"></app-candidatedetails>
        </div>
      </div>
    </div>
    </div>
  </div>








  <!-- (click)="entermamadm()" -->
  <!-- <div id="accordion" >
    <div class="card">
      <div class="card-header" id="headingTwo" >
        <h5 class="mb-0" >
          <button class="btn btn-link " data-toggle="collapse" 
          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" value="{{c.codeCandidates}}">
           {{c.FNameCandidates}} {{c.LNameCandidates}}</button>
        </h5>
      </div>
      <div *ngIf="entermamad" >
      <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion" >
        <div class="card-body" >
          <app-candidatedetails class="a"  [cm]="c.codeCandidates"></app-candidatedetails>
        </div>
      </div>
    </div>
    </div>
  </div> -->