div.re{
    text-align: right;
}

.save{
        background-color:rgb(155, 140, 140);
        width:100px;
       height:30px ;
       text-align: right;
       direction: rtl;
   
      }       

.form-control{
    width:200px;
    text-align: right;
    direction: rtl;
}

.form-row {
    direction: rtl;
    text-align: right;
    
}
.all{
    /* border: 5px rgb(87, 87, 87) solid; */
    direction: rtl;
    text-align: center;
    
}
.col-md-2{
    text-align:right;
}

h1{
    text-align: center;
}
 
.save{
    text-align: center;
}
app-candidatedetmatches.a {
    direction: rtl;
    text-align: center;
    width: 33%;
    float: left;
    height: 90px;
  }


.save{
  background-color:rgb(189, 61, 67);
  width:100px;
 height:30px ;
}
.row{
    direction: rtl;
    text-align: center;
   
}
select{
    width: 100px;
}
.e{
    text-align:right;
    direction: rtl;
    flex-direction: column;
    float: left;
 }
 .footer{
    text-align: right;
    direction:rtl;
 }
.h{
text-align: right;
direction:rtl;
/* margin-right: 43%; */
 }
 .el{
     margin-right: 0%;
    text-align:right;
    direction: rtl;
    flex-direction: column;
    /* float: left; */
 }
 .ea{
    text-align:right;
    direction: rtl;
    /* flex-direction: column; */
    float: right;
 }
/* .all{
    border-left:0.5px solid rgb(231, 78, 78);
    float: right;
} */

.example-form-field {
    width: 200px;
  }
  .order{
      /* border: solid rgb(43, 40, 40) 1px; */
      text-align: right;
      margin-left: 72%;
  }
  .group{    
        /* border: solid rgb(43, 40, 40) 1px; */
    text-align: right;
    margin-left: 72%;
    float: right;}