<form #form="ngForm">
    <div class="form-group row">
         <div class="col-sm-10">
           <label for="inputEmail3" class="col-sm-2 col-form-label">עיסוק נוכחי :</label>
           <select name="currentOccupation" [(ngModel)]="mc.currentOccupation">
               <option *ngFor="let o of occupationlist" [value]="o.OccupationTypeId">{{o.OccupationTypeName}}</option>
           </select>
         </div>
       </div><form #form="ngForm">
       <div class="form-group row">
         <div class="col-sm-10">
           <label for="inputEmail3" class="col-sm-2 col-form-label">עיסוק אחרי החתונה:</label>
           <select name="occupationAfter" [(ngModel)]="mc.occupationAfter">
               <option *ngFor="let o of occupationlist" [value]="o.OccupationTypeId">{{o.OccupationTypeName}}</option>
           </select>
         </div>
       </div>
    
      
 </form>
 
