
 
 <form #form="ngForm" *ngIf="showEda">
  <mat-form-field appearance="fill" class="e" >
    <mat-label>עיסוק נוכחי</mat-label>
    <mat-select  name="currentOccupation" [(ngModel)]="mc.currentOccupation" >
      <mat-option  *ngFor="let o of occupationlist" [value]="o.OccupationTypeId">
        {{o.OccupationTypeName}}
      </mat-option>
    </mat-select>
  </mat-form-field><br>
  <mat-form-field appearance="fill" class="e" >
    <mat-label>עיסוק אחרי החתונה</mat-label>
    <mat-select  name="occupationAfter" [(ngModel)]="mc.occupationAfter"  (selectionChange)="save()">
      <mat-option  *ngFor="let o of occupationlist" [value]="o.OccupationTypeId">
        {{o.OccupationTypeName}}
      </mat-option>
    </mat-select>
  </mat-form-field><br>



  
    
</form>
