
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >

    <!-- <a style="text-align: right;margin-left: 10px;" href="#" class="navbar-brand"  >מתחתנים <br> בראש שקט</a> -->


    <a class="navbar-brand" href="#" routerLink="Hashadchanit">
      <img class="logo" src="../assets/Screenshot_18.jpg" />
    </a>
    <!-- <a class="navbar-brand" href="#" routerLink="Register">אני מועמד/ת</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="navbar-brand" href="#" routerLink="Register">אני מועמד/ת <span class="sr-only">(current)</span></a>

        </li>
        <li class="nav-item active">
          <a class="navbar-brand" href="#" routerLink="login">אני שדכנית <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#"routerLink="Matches" >התאמות</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#" routerLink="MatchInProcess">הצעות בתהליך</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#" routerLink="HistoryOfMatches" >?איך זה עובד</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#" routerLink="Hashadchanit" > השדכנית </a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>