
<body>
    <div class="re">
    <h1>מה אני מחפש</h1>
          <form #form="ngForm">
             <div class="m">

            <div class="my"  class="card-header" >
              <td><mat-form-field class="example-full-width" class="e" appearance="fill">
                <mat-label>גיל מקסימלי</mat-label>
                <input matInput name="AgeRange"  type="number" [(ngModel)]="maxAge">
              </mat-form-field></td><br>

              <td><mat-form-field class="example-full-width" class="e" appearance="fill">
                <mat-label>גיל מינימלי</mat-label>
                <input matInput name="minAge"  type="number" [(ngModel)]="minAge">
              </mat-form-field></td><br>
       
                <td><mat-form-field class="example-full-width" class="e" appearance="fill">
                  <mat-label>גובה מקסימלי</mat-label>
                  <input matInput name="MaxHeight"  type="number" [(ngModel)]="wIl.MaxHeight">
                </mat-form-field></td><br>

                <td><mat-form-field class="example-full-width" class="e" appearance="fill">
                  <mat-label>גובה מינימלי</mat-label>
                  <input matInput name="MinHeight"  type="number" [(ngModel)]="wIl.MinHeight">
                </mat-form-field></td><br>

              
                <td><mat-form-field class="example-full-width" class="e" appearance="fill">
                  <mat-label>הערות נוספות</mat-label>
                  <input matInput name="description"  [(ngModel)]="wIl.description">
                </mat-form-field></td><br>
            
            <div  *ngIf="showEda">
            <mat-form-field appearance="fill" class="m">
              <mat-label>עדה</mat-label>
              <mat-select  multiple>
                <mat-option *ngFor="let item of Comunitieslist; let i=index"
                [id]="'eda'+i" (click)="selectComunity(Comunitieslist[i].codeC)">{{item.nameC}}</mat-option>
              </mat-select>
            </mat-form-field><br>
<!--         
            <div class="form-group row">
              <div class="col-sm-10">
                <label for="inputEmail3"  >עדה:</label>
                <div class="form-check" *ngFor="let item of Comunitieslist; let i=index">
                  {{item.nameC}}
                  <input type="checkbox" [name]="'eda'+i"  class="form-check-input" [id]="'eda'+i" (click)="selectComunity(Comunitieslist[i].codeC)">
                </div>
              </div>
            </div>   -->
            <mat-form-field appearance="fill" class="m">
              <mat-label>סטטוס</mat-label>
              <mat-select  multiple>
                <mat-option *ngFor="let s of statusList ; let i=index"
                [id]="'sta'+i" (click)="selectstayus(statusList[i].statusCode)">{{s.statusName}}</mat-option>
              </mat-select>
            </mat-form-field><br>
            <!-- <div class="form-group row">
              <div class="col-sm-10">
                <label for="inputEmail3"  >סטטוס:</label>
                <div class="form-check"  *ngFor="let s of statusList ; let i=index">
                  {{s.statusName}}
                  <input 
                   type="checkbox" [name]="'sta'+i"  class="form-check-input" [id]="'sta'+i" (click)="selectstayus(statusList[i].statusCode)">
                </div>
              </div>
            </div>   -->
          </div>
            <app-what-imlooking-for-man *ngIf="isMan" (savemen)="savemen($event)" ></app-what-imlooking-for-man>

            <app-what-imlooking-forwomen *ngIf="!isMan" (savewoman)="savewoman($event)"></app-what-imlooking-forwomen> 
         
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="addCandidates()">שמור את הפרטים  </button> 
  
           </div>
          </div>
          </form>
         
  
    </div>
  </body>

