.h{
    text-align: center;
    font-size:30px ; 
    color: rgb(199, 66, 66);
    margin-top: 40px;
}

.e{
    text-align: right;
    direction: inherit;
    margin-left: 750px;

}
.born{
    text-align: right;
    direction: inherit;
    margin-left:750px;
}
.btn-log {
    text-align: right;
    direction: inherit;
    margin-left:820px;

}
.btn-info {
    color: #fff;
    background-color: rgb(199, 66, 66);
    border-color: rgb(199, 66, 66);
    
}


