/* .form-control{
    width:200px;
    text-align: right;
    direction: rtl;
} */
.e{
    margin-right:200px;
    text-align: right;
}
.form-group {
    direction: rtl;
    text-align: right;
}
.col-sm-10{
    text-align:right;
}

.btn {
    color: #fff;
    background-color: #e82b49;
    border-color: #fbfcfd;
}
.h{
    text-align: center;
    font-size:30px ; 
    color: rgb(199, 66, 66);
    margin-top: 40px;
    margin-left: 50px;

}