<form #form="ngForm">

    <div *ngFor="let s of c;let i=index">
      <h3> טלפונים לבירורים </h3>
      <td><mat-form-field class="example-full-width" class="e" appearance="fill">
        <mat-label> שם פרטי </mat-label>
        <input matInput [name]="i+1" [(ngModel)]="c[i].ContactName">
      </mat-form-field></td><br>  
      <td><mat-form-field class="example-full-width" class="e" appearance="fill">
        <mat-label> פון לברורים  </mat-label>
        <input matInput [name]="i+1" [(ngModel)]="c[i].PhoneNumber">
      </mat-form-field></td><br>  
      <td><mat-form-field class="example-full-width" class="e" appearance="fill">
        <mat-label> תאור כללי  </mat-label>
        <input matInput [name]="i+1" [(ngModel)]="c[i].description">
      </mat-form-field></td><br> 
    </div>
    <input type="button" (click)="addContact()" value="+" >
    <br><br>

    <button mat-raised-button color="warn" [disabled]="!form.valid" (click)="finish()">הבא</button>

    </form>
           
           





<!-- <p>contact works!</p>
,
public PhoneNumber?:string,
public description?:string,
public CandidateId?:number -->
