.form-control{
    width:200px;
    text-align: right;
    direction: rtl;
}

.form-group {
    direction: rtl;
    text-align: right;
}
.col-sm-10{
    text-align:right;
}
.e{
    text-align:right;
    direction: rtl;
 }