<!--  כשמועמד מנסה להכנס לתוכן  -->
<div class="matchinp"></div>
<div *ngIf="!view" class="m">
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">אינך רשאי/ת לצפות בתוכן</h4>
        </div>
        <br>
        <div class="modal-body">
          <p>עליך להירשם למערכת</p>
          <a class="nav-link" routerLink="/Register" routerLinkActive="active">הרשמה</a>
          <a class="nav-link" routerLink="/login" routerLinkActive="active">אני השדכנית</a>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="onCloseHandled()">סגור</button>
        </div>
      </div>
    </div>
   </div>
</div> 
<!--  כאשר השדכנית נכנסת הצגת התאמות עלפי המערכת  -->

<div *ngIf="view">
  <div class="h">שידוכים בתהליכים מתקדמים</div>
  <br>
  <div *ngIf="!mORs" class="h">המערכת ממתינה לקבלת שידוכים בתהליך </div>
  <br>
  <form  class="needs-validation" novalidate> 
    <div *ngIf="mORs" class="group"><app-matchinprocesssort  style="margin-left: 40%; margin-top: 1.5%;"  *ngFor="let item of ProposalInProceslist;let i=index" [identity]="i" class="a" [m]="item"></app-matchinprocesssort></div>
  </form>
</div>