<form #form="ngForm">
<div *ngFor="let s of siblings;let i=index" class="card-header">
  <h3>פרטי המשפחה </h3> 

<td><mat-form-field class="example-full-width" class="e" appearance="fill">
  <mat-label> שם פרטי אח/ות </mat-label>
  <input matInput [name]="i+1" [(ngModel)]="siblings[i].name">
</mat-form-field></td><br>

      <mat-form-field appearance="fill" class="e" >
        <mat-label>תאריך לידה</mat-label>
        <input matInput [matDatepicker]="picker"  [name]="i+1"  [(ngModel)]="siblings[i].datebir">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <td><mat-form-field class="example-full-width" class="e" appearance="fill">
        <mat-label> האם נשוי </mat-label>
        <input matInput [name]="i+1" [(ngModel)]="siblings[i].isMarried">
      </mat-form-field></td><br>  
      <td><mat-form-field class="example-full-width" class="e" appearance="fill">
        <mat-label> *** </mat-label>
        <input matInput [name]="i+1" [(ngModel)]="siblings[i].description">
      </mat-form-field></td><br>  

</div>
<input type="button" (click)="addSibling()" value="+" >
<br><br>
<button mat-raised-button color="warn" [disabled]="!form.valid" (click)="finish()">הבא</button>

</form>
       
       