.form-control{
    width:200px;
    text-align: right;
    direction: rtl;
}

.form-group {
    direction: rtl;
    text-align: right;
}
.col-sm-10{
    text-align:right;
}

.btn {
    color: #fff;
    background-color: #e82b49;
    border-color: #fbfcfd;
}
.born{
    margin-left: 260px;
    text-align: right;
}
.status{
    margin-left: 275px;
    text-align: right;

}
.h{
    text-align: center;
    font-size:30px ; 
    color: rgb(199, 66, 66);
    margin-top: 40px;
    margin-left: 250px;

}