<form #form="ngForm">
  
    <div *ngFor="let s of mc ;let i=index">
      <div *ngIf="showEda">
        <h3>פרטי מוסדות הלימוד </h3>
        <mat-form-field appearance="fill" class="e" >
          <mat-label>שם מוסד</mat-label>
          <mat-select [name]=" i+1"  [(ngModel)]="mc[i].codeMC">
            <mat-option  *ngFor="let ml of mosdList" [value]="ml.codeM">
              {{ml.nameM}}
            </mat-option>
          </mat-select>
        </mat-form-field><br>
        <td><mat-form-field class="example-full-width" class="e" appearance="fill">
          <mat-label> תאריך סיום </mat-label>
          <input matInput [name]="i+1" [(ngModel)]="mc[i].yearOfFinish">
        </mat-form-field></td><br>
      </div>      
    </div>
    
    <input type="button" (click)="addmosad()" value="+" >
    <br><br>
    <button mat-raised-button color="warn" [disabled]="!form.valid" (click)="finish()">הבא</button>

    
    </form>
           
           



<!-- public codeMC ?: number,public codeCandidate?:Candidates,public yearOfFinish ?:Date  -->