<form #form="ngForm">
  
    <div *ngFor="let s of mc ;let i=index">
      <div *ngIf="showEda">
        <div class="h">פרטי מוסדות הלימוד </div>
      <br>
        <mat-form-field appearance="fill" class="born"  >
          <mat-label>שם מוסד</mat-label>
          <mat-select [name]=" i+1"  [(ngModel)]="mc[i].codeMosad">
            <mat-option  *ngFor="let ml of mosdList" [value]="ml.codeM">
              {{ml.nameM}}
            </mat-option>
          </mat-select>
        </mat-form-field><br>
        <!-- <div >*ngIf="!min"*ngIf="min"
          <mat-form-field appearance="fill" class="e" >
            <mat-label>שם מוסד</mat-label>
            <mat-select [name]=" i+1"  [(ngModel)]="mc[i].codeMosad">
              <mat-option  *ngFor="let ml of mosdListwomen" [value]="ml.codeM">
                {{ml.nameM}}
              </mat-option>
            </mat-select> 
          </mat-form-field><br></div>-->
        <mat-form-field appearance="fill" class="status" >
          <mat-label>תאריך סיום</mat-label>
          <input matInput [matDatepicker]="picker"  [name]="i+1"  [(ngModel)]="mc[i].yearOfFinish">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>      
    </div>
    <button mat-raised-button color="primary"  (click)="addmosad()">➕</button>
   
    <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="finish()">הבא</button>

    
    </form>
           
           



<!-- public codeMC ?: number,public codeCandidate?:Candidates,public yearOfFinish ?:Date  -->