<!--  כשמועמד מנסה להכנס לתוכן  -->
<div *ngIf="!view" class="m">
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">אינך רשאי/ת לצפות בתוכן</h4>
        </div>
        <br>
        <div class="modal-body">
          <p>עליך להירשם למערכת</p>
          <a class="nav-link" routerLink="/Register" routerLinkActive="active">הרשמה</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="onCloseHandled()">סגור</button>
        </div>
      </div>
    </div>
   </div>
</div> 
<!--  כאשר השדכנית נכנסת הצגת התאמות עלפי המערכת  -->

<div *ngIf="view">
  <h1>התאמות אוטומטיות ע"י המערכת</h1>
  <div *ngIf="!mORs"><h2>אין תוצאות מערכת </h2></div>
  <form  class="needs-validation" novalidate> 
    <div *ngIf="mORs"><app-candidatedetmatches  class="a"  *ngFor="let item of macheslist" [m]="item"></app-candidatedetmatches></div>
  </form>
</div>
