div.re{
    text-align: right;
}

.save{
        background-color:rgb(216, 25, 25);
        width:100px;
       height:30px ;
       text-align: right;
       direction: rtl;
   
      }       

.form-control{
    width:200px;
    text-align: right;
    direction: rtl;
}

.form-row {
    direction: rtl;
    text-align: center;
}
.col-md-2{
    text-align:right;
}

h1  {
    text-align: center;
}
 
.save{
    text-align: center;
}


h2  {
    text-align: center;
}
 


app-candidatedetmatches.a {
    text-align: center;
    width: 33%;
    float: left;
    height: 90px;
  }

.save{
  background-color:rgb(207, 173, 121);
  width:100px;
 height:30px ;
}











