<form #form="ngForm"> 

 <mat-form-field appearance="fill" class="e" >
  <mat-label>כיסוי ראש</mat-label>
  <mat-select  name="wigORhandkerchief" [(ngModel)]="wc.wigORhandkerchief"  (selectionChange)="save()">
    <mat-option [value]="1">פאה</mat-option>
    <mat-option [value]="2">מטפחת</mat-option>
    <mat-option [value]="3">לא משנה</mat-option>
  </mat-select>
</mat-form-field><br>    </form>
 <!-- <label for="inputEmail3" class="col-sm-2 col-form-label">שם פרטי :</label>
          <input name="FNameCandidates" type="text" class="form-control" id="inputEmail3" placeholder="הקש שם פרטי" -->