<form #form="ngForm">
    <div class="form-group row">
        <div class="col-sm-10">
          <label for="inputEmail3" class="col-sm-2 col-form-label">כיסוי ראש:</label>
          <select name="wigORhandkerchief" [(ngModel)]="wc.wigORhandkerchief" (change)="save()">
              <option [value]="1">פאה</option>
              <option [value]="2">מטפחת</option>
              <option [value]="3">לא משנה</option>
          </select>
        </div>
      </div>     
 </form>
 
 <!-- <label for="inputEmail3" class="col-sm-2 col-form-label">שם פרטי :</label>
          <input name="FNameCandidates" type="text" class="form-control" id="inputEmail3" placeholder="הקש שם פרטי" -->