    <div class="detaillscandideta">
    <div class="wi">
        <div class="r">
        <div class="h">: פרטים אישיים</div>
        <p>שם פרטי: {{c?.Candidate.FNameCandidates}}</p>
        <p>   שם משפחה: {{c?.Candidate.LNameCandidates}}</p>
        <p>  תאריך לידה: {{c?.Candidate.dateOFbirth| date: 'dd/MM/yyyy'}}</p>
        <p>  גובה: {{c?.Candidate.heightCandidates}}</p> 
        <p>סטטוס אישי:{{c?.Candidate.StatusName}}</p>
        <p height="400" width="400" >{{c?.Candidate.photoLink}}</p>
        <p>כתובת : {{c?.Candidate.address}}</p>
        <p>פון אישי:{{c?.Candidate.phone}}</p>
        <p>כיסוי ראוש :{{this.coui}}</p>
        <p>עיסוק נוכחי:{{c?.currentOccupationName}}</p>
        <p>עיסוק עתידי:{{c?.OccupationAfterName}}</p></div>
       <div class="r">
        <div class="h"> : פרטי משפחה </div>
        <p> שם אב:{{c?.Candidate.nameFather}}</p>
        <p>שם אם :{{c?.Candidate.nameMother}}</p>
        <p>עיסוק אב :{{c?.Candidate.occupationFather}}</p>
        <p> עיסוק אם :{{c?.Candidate.occupationMother}}</p>
        <p>מצב משפחתי:{{c?.Candidate.familyStatus}}</p>
        <p>עדה אב:{{c?.Candidate.AdaNameFather}}</p>
        <p>עדה אם:{{c?.Candidate.AdaNameMother}}</p>
        <h3 *ngFor="let x of c?.Candidate.Siblings">
          <p>  שם: {{x.name}}</p>
          <p> תאריך לידה : {{x.datebir| date: 'dd/MM/yyyy'}}</p>
          <p>האם נשואי/ה : {{x.isMarried}}</p>   
          <p>  תאור: {{x.description}}</p></h3></div>
        
       <div class="r"><div class="h"> :ליצירת קשר </div>
        <div *ngFor="let x of c?.Candidate.Contacts">
            <p>שם: {{x.ContactName}}</p>
            <p>פון: {{x.PhoneNumber}}</p> 
            <p>  תאור: {{x.description}}</p></div></div> 
       
       <div class="r"> <div class="h">: מוסדות לימוד</div>
        <h3 *ngFor="let x of c?.Candidate.Mosdot">
           <p>שם מוסד: {{x.MosadName}}</p> 
           <p> תאריך סיום הלימודים : {{x.yearOfFinish| date: 'dd/MM/yyyy'}}</p> </h3> </div>

           <div class="r"> <div class="h">?מה אני מחפש</div>
        <p>גיל מקסימלי : {{c?.WhatLooking.MaxAge| date: 'dd/MM/yyyy'}}</p>
        <p>גיל מינימלי : {{c?.WhatLooking.MinAge| date: 'dd/MM/yyyy'}}</p>
        <p>גובה מקסימלי: {{c?.WhatLooking.MaxHeight}}</p>
        <p>גובה מינימלי: {{c?.WhatLooking.MinHeight}}</p>
        <p>תאור: {{c?.WhatLooking.description}}</p>
        <p> עדות </p>
        <h3><p *ngFor="let x of c?.WhatLooking.Comunities">{{x.ComunityName}}</p></h3>
        <p>סטטוס/ים</p>
        <h3><p *ngFor="let x of c?.WhatLooking.status1">{{x.statusName}}</p></h3></div>
    </div>
</div>

