    <div class="detaillscandideta">
    <div class="wi">
        <h6>{{c?.Candidate.FNameCandidates}}</h6>
        <h6>{{c?.Candidate.LNameCandidates}}</h6>
        <h6>{{c?.Candidate.dateOFbirth| date: 'dd/MM/yyyy'}}</h6>
        <h6>{{c?.Candidate.heightCandidates}}</h6>
        <h6 height="400" width="400" >{{c?.Candidate.photoLink}}</h6>
        <h6>{{c?.Candidate.address}}</h6>
        <h6>{{c?.Candidate.nameFather}}</h6>
        <h6>{{c?.Candidate.nameMother}}</h6>
        <h6>{{c?.Candidate.occupationFather}}</h6>
        <h6>{{c?.Candidate.occupationMother}}</h6>
        <h6>{{c?.Candidate.familyStatus}}</h6>
        <h6>{{c?.Candidate.AdaNameFather}}</h6>
        <h6>{{c?.Candidate.AdaNameMother}}</h6>
        <h6>{{c?.Candidate.phone}}</h6>
        <h6>{{c?.Candidate.StatusName}}</h6>
        <h6>{{c?.wigORhandkerchief}}</h6>
        <h6>{{c?.OccupationAfterName}}</h6>
        <h6>{{c?.currentOccupationName}}</h6>
        <h1><p *ngFor="let x of c?.Candidate.Siblings">{{x|json}}</p></h1>
        <h1><p *ngFor="let x of c?.Candidate.Contacts">{{x|json}}</p></h1>
        <h1><p *ngFor="let x of c?.Candidate.Mosdot">{{x|json}}</p></h1>
        <h6>{{c?.Candidate.MaxAge| date: 'dd/MM/yyyy'}}</h6>
        <h6>{{c?.Candidate.MinAge| date: 'dd/MM/yyyy'}}</h6>
        <h6>{{c?.Candidate.MaxHeight}}</h6>
        <h6>{{c?.Candidate.MinHeight}}</h6>
        <h6>{{c?.Candidate.description}}</h6>
        <h1><p *ngFor="let x of c?.Candidate.Comunities">{{x|json}}</p></h1>
        <h1><p *ngFor="let x of c?.Candidate.status1">{{x|json}}</p></h1>
    </div>
</div>

<!-- public occupationFather?:string,public occupationMother?:string,  public familyStatus?:string,public AdaNameFather?:string,
public AdaNameMother?:string, public phone?:string, public  StatusName?:string,public Siblings?:Sibling[],public Contacts?:Contact[],public Mosdot?:MosdotToCandidate[]
){ -->
 


<!--     
<input *ngIf=!flag type="button"  class="save" value="עריכת המתכון" (click)="mydelails()"> --> -->